node_modules
.next
dist
.vercel
.env
.next/static/development/_buildManifest.js
.next/static/chunks/webpack.js
.next/server/pages-manifest.json
.next/server/middleware-build-manifest.js
.next/build-manifest.json
*.pack
*.js
*.js
*.json
*.old
*.pack
.next/static/development/_buildManifest.js
.next/static/chunks/webpack.js
.next/static/chunks/pages/index.js
.next/server/pages/index.js
.next/server/pages-manifest.json
.next/server/middleware-build-manifest.js
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/client-development/5.pack
.next/cache/webpack/client-development/6.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/1.pack
.next/cache/webpack/server-development/2.pack
.next/cache/webpack/server-development/3.pack
.next/build-manifest.json
.next/cache/webpack/client-development/0.pack
.next/cache/webpack/client-development/10.pack
.next/cache/webpack/client-development/4.pack
